.mixin.out/**
crash-reports/**
logs/**
natives/**
paintings/**
palettes/**
local/**
patchouli_books/**
saves/**
schematics/**
screenshots/**
themes/**
config.json
hotbar.nbt
knownkeys.txt
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
reauth.toml
servers.dat
servers.dat_old
usercache.json
usernamecache.json
moonlight-global-datapacks/**
xaero/**
ponders_watched.json
.qmenu_opened.marker
sable/**
downloads/**
command_history.txt
XaeroWaypoints_BACKUP240807/**

